.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-date {
  width: 125px;
}
.App #value, .App #weight {
  width: 80px;
  height: 40px;
  margin: 10px;
  font-size: 40px;
}

.App #name, .App #password {
  width: 100px;
}

.App #type {
  width: 300px;
}

.App #type, .App #new-day, .App #next-approach, .App #next-train {
  margin: 5px;
  font-size: 24px;
}

.App #summary {
  margin: 3px 0;
  font-size: 20px;
  font-weight: bold;
}

.App .last-records {
  font-size: 12px;
  width: 100%;
  table-layout: fixed;
}

.App .last-records thead {
  font-weight: bold;
}


.App .last-records td {
  word-wrap: break-word;
}

.App .records {
  font-size: 12px;
  width: 100%;
  text-align: left;
}

.App .records-title {
  font-weight: bold;
}

.App .records {
  width: 100%;
}

.App .train-type-record-select {
  width: 40px;
  font-size: 10px;
}

.App .type-title {
  display:block;
  width:100%;
  word-break:break-all;
}

.App .record-number {
  width:15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
